$mediaSml: 600px;

:root {
	--content-max: 57.5rem; //920px;
	--content-min: 17.5rem; //280px;
	--gap-lg: 32px;
	--gap-md: 24px;
	--gap-sm: 16px;
	--gap-xs: 8px;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	font-family: system-ui, sans-serif;
	background-color: #1b1b1b;
	color: #cacaca;
}

h1 {
	color: white;
}

.layout {
	min-height: 100%;
	min-height: 100svh;
	display: grid;
	grid-template-columns:
		[full-start]
		minmax(var(--gap-sm), 1fr)
		[popout-start]
		minmax(0, 0.25fr)
		[content-start]
		minmax(0, var(--content-max))
		[content-end]
		minmax(0, 0.25fr)
		[popout-end]
		minmax(var(--gap-sm), 1fr)
		[full-end];
	grid-template-rows: auto 1fr auto;
}

main {
	grid-column: content;
	display: grid;
	grid-template-rows: auto 1fr;

	@media (max-width: $mediaSml) {
	}
}

header {
	grid-column: popout;
	display: grid;
	grid-template-columns: 1fr auto;
	padding-block: var(--gap-md);
}

nav {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

footer {
	grid-column: popout;
	padding-block: var(--gap-md);
}
