@use 'vars' as v;

:root {
	//- convert to sass vars? meh
	--content-max: 57.5rem; //- 920px;
	--content-min: 17.5rem; //- 280px;
	--gap-lg: 32px;
	--gap-md: 24px;
	--gap-sm: 16px;
	--gap-xs: 8px;
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	font-family: system-ui, sans-serif;
	background-color: #1b1b1b;
	color: #cacaca;
}

h1,
h2,
h3 {
	margin-block-end: 0.35em;
	line-height: 1.1;
}

h1 {
	color: white;
}

p {
	margin-top: 0;
}

.layout {
	min-height: 100%;
	min-height: 100svh;
	display: grid;
	grid-template-columns:
		[full-start]
		minmax(var(--gap-sm), 1fr)
		[popout-start]
		minmax(0, 0.25fr)
		[content-start]
		minmax(0, var(--content-max))
		[content-end]
		minmax(0, 0.25fr)
		[popout-end]
		minmax(var(--gap-sm), 1fr)
		[full-end];
	grid-template-rows: auto 1fr auto;
}

main {
	grid-column: full;
	display: grid;
	grid-template-columns: inherit;
	align-content: start;

	& > * {
		grid-column: content;
	}

	@media (max-width: v.$mediaSm) {
		//- just for testing atm
	}
}

.layout > header {
	grid-column: popout;
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	padding-block: var(--gap-md);

	nav {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}

	.logo {
		max-width: max-content;
		display: flex;
		align-content: center;
	}
}

.layout > footer {
	grid-column: popout;
	padding-block: var(--gap-md);
}
