extends /layouts/main

block title
	-let title = 'About'
	title=siteName + title

block heading
	h1= title

block content
	p Vituum Template for quick Pug/Sass projects.
	p This page is just pug and markdown no json data

	:md
		---
		title: some silly title
		author: b1mind
		---

		## Markdown
		
		https://b.1mind.dev
		
		This is some markdown in Pug using 
		[ jsTransform-markdown-it ]( https://github.com/jstransformers/jstransformer-markdown-it )
		
		```js
			//codeblocks
			let code = 'not highlighted'
		```

	include:md ./about.md

	h2 Custom 
	p
		:test
			custom filter   

	