extends /layouts/main

block title
	title=siteName + ' | ' + title

block heading
	h1 About
block content
	p Template for quick Pug/Sass templating.
	p This page is just pug and markdown no json data

	:markdown()
		## Markdown
		
		https://b.1mind.dev
		
		This is some markdown in Pug using 
		[ jsTransform-markdown-it ]( https://github.com/jstransformers/jstransformer-markdown-it )
		
		```js
			//codeblocks
			let code = 'not highlighted'
		```

	include:markdown ./about.md

	h2 Custom 
	p
		:test
			custom filter   

	