extends /layouts/main

block content
	p Vituum Template for quick Pug/Sass projects.
	p This page is just pug and markdown no json data

	include:md ./about.md

	h2 Custom 
	p
		:test
			custom filter   

	